<template>
  <v-container>
    
    <h1>Pošaljite mail sekretarijatu za saobraćaj</h1>
    
    <v-btn
      id="submit"
      elevation="8"
      large
      plain
      @click="send"
    >
     Pošalji email
  </v-btn>
  </v-container>
</template>
<script>


export default {
  name: 'mobilizer',
  data() {
    return {
      msg: '',
      reveciverEmail: "info.saobracaj@beograd.gov.rs",

    }
  },
  methods: {
    send: function(){
      window.location =  "mailto:" + this.reveciverEmail + "?subject=Pustite%20nas%20da%20dišemo";
    },
  },
  computed:{

  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
*{
  font-family: 'Open Sans', sans-serif;
}
h1 {
  text-align: center;
}
#submit{
  margin: 20px auto;
  display: block;
}

</style>