<template>
  <v-container>
    
  </v-container>
</template>
<script>


export default {
  name: 'mobilizer',
  data() {
    return {

    }
  },
  methods: {
   
  },
  computed:{

  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
*{
  font-family: 'Open Sans', sans-serif;
}
</style>